# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/tmp

# Compiled example binaries
/bin
examples/09_bubbletea/09_bubbletea
examples/10_tview/10_tview
examples/11_server/11_server
examples/12_file/12_file
examples/13_gocui/13_gocui

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
.vscode/
